.header {
background-color: #ffffff;
}
.logo {
font-family: "Raleway"
, sans-serif;
font-size: 18px;
line-height: 1.17;
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-accent {
color: #2e2f42;
}
.menu-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
color: #404bbf;
}
.contacts {
font-style: normal;
}
.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}
